@import '../../../App.scss';

@media (max-width: 575px) {
  h2 {
    font-size: 1.2em;
    width: 50%;
  }
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-weight: 400;
  }

  .calendar_buttons {
    button {
      margin: 1em;
      float: none !important;
      @include btn-icon;
    }

    .btn-left {
      background-image: url("../../../assets/icons/chevron-thin-left.svg");
    }
  
    .btn-right {
      background-image: url("../../../assets/icons/chevron-thin-right.svg");
    }
  }
}