@import "../../../App";

.calendar_body {
  .week-days {
    display: flex;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: 0.1em;
    padding: 0;
    margin: 0;
  
    li {
      list-style: none;
      padding: 0.5em;
      width: calc(100% / 7);
      background: $border-color;
      font-weight: 700;
    }
  }

  .month-days {
    display: flex;
    flex-wrap: wrap;

    .number-day {
      width: calc(100% / 7);
      padding: 5% 0;
      border-bottom: 1px solid $border-color;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    .no-empty-days {
      cursor: pointer;
    }

    .current-day {
      background-color: $background-dark;
      color: $secondary-color;
      font-weight: 800;
    }

    .there-are-events {
      padding: 5% 0 0 0;
    }

    .there-are-events::before {
      content: '\25CF';
      font-size: 0.2em;
      color: #E79C25;
    }
  }
}