@import "../../../App";

.calendar_body {
  .week-days {
    display: flex;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: 0.1em;
    padding: 0;
    margin: 0;
  
    li {
      list-style: none;
      padding: 0.5em;
      width: calc(100% / 7);
    }
  }

  .month-days {
    display: flex;
    flex-wrap: wrap;

    .number-day {
      width: calc(100% / 7);
      padding: 5% 0;
      border-bottom: 1px solid $border-color;
    }

    .current-day {
      background-color: $background-color;
      font-weight: 800;
    }
  }
}