@import "../../../App";

@media (max-width: 575px) {
  .modal_content {
    width: 80%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .modal_content {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modal_content {
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .modal_content {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .modal_content {
    width: 40%;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: $primary-color;
  opacity: 0.75;
}

.modal {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;

  .modal_content {
    background-color: $background-light;
    border-radius: 0.25em;
    text-align: center;
    padding: 1em;

    .btn-close {
      background-image: url("../../../assets/icons/cross.svg");
      background-repeat: no-repeat;
      background-size: cover;
      float: right;
      margin: -0.8em;
      padding: 1.2em;
    }

    .btn-add,
    .btn-cancel {
      font-size: 1em;
      color: $primary-color;
      border: 1px solid $border-color;
      border-radius: 0.25em;
      padding: 0.5em 1em;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    form {
      display: flex;
      flex-direction: column;
      color: $primary-color;

      label {
        text-align: left;
        margin-bottom: 0.25em;
      }

      input {
        font-size: 1.2em;
        border: 1px solid $border-color;
        border-radius: 0.25em;
        margin-bottom: 1em;
        padding: 0.25em 0.5em;
        color: $primary-color;
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
      }

      button {
        max-width: fit-content;
        align-items: center;
        justify-content: center;
        margin: 0 0.25em;
      }
    }
  }
}
