@media (max-width: 991px) {
  .calendar {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .calendar {
    width: 80%;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .calendar {
    width: 60%;
    display: inline-block;
  }
}

.calendar {
  margin-top: -0.25em;
}