@import "../../../App";

.backdrop {
  z-index: 3;
}

.popup {
  color: #394855;
  z-index: 4;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;

  .popup_card {
    margin: 1.25em;
  }
}

