@import "../../App";

.event-item-padding {
  padding: 0.5em;
}

.valid {
  @include valid;
}

.invalid {
  @include invalid;
}

.event-item {
  list-style: none;
  border-radius: 0.25em;
  margin-top: 0.5em;

  .event-input {
    border: none;
    font-size: 1em;
    color: $primary-color;
    border-radius: 0.25em;
    padding: 0.5em;
    width: calc(100% - 3em);
  }

  .btn-delete {
    background-image: url("../../assets/icons/cross.svg");
    margin: -0.5em;
    @include btn-icon;
  }

  .btn-save {
    background-image: url("../../assets/icons/checkmark.svg");
    @include btn-icon;
  }
}

.red-text {
  @include red-text;
}