@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Open+Sans:wght@400;800&display=swap');

// COLORS
$border-color: #BFCFDF;
$primary-color: #394855;

.App {
  text-align: center;
  color: $primary-color;
}