@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

// COLORS
$border-color: #82909d;
$background-light: #fff;
$background-dark: #BFCFDF;
$background-current-day: #eee;
$primary-color: #394855;
$secondary-color: #1f282f;
$event-color: #E79C25;

.App {
  text-align: center;
  color: $primary-color;
  margin: 1em;

  h1 {
    margin-bottom: 0;
  }
}

// MIXINS 
@mixin btn-icon {
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  padding: 1.2em;
}

@mixin red-text {
  color: red;
  display: flex;
  justify-content: flex-end;
}

@mixin valid {
  border: 1px solid $border-color;
}

@mixin invalid {
  border: 1px solid red;
}

// MEDIA QUERIES 
@media (max-width: 575px) {
  .buttons {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .buttons {
    justify-content: flex-end;
  }
}

// BACKDROP
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $primary-color;
  opacity: 0.75;
}

// BUTTONS
.buttons {
  display: flex;
  margin-top: 1em;
}

button {
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 0.25em;
}

.btn-add,
.btn-remove,
.btn-cancel {
  background-color: $background-dark !important;
  color: $secondary-color;
  font-size: 1em;
  border: 1px solid $border-color !important;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}