@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Open+Sans:wght@400;800&display=swap');

// COLORS
$border-color: #BFCFDF;
$background-light: #fff;
$background-dark: #BFCFDF;
$primary-color: #394855;
$secondary-color: #1f282f;

.App {
  text-align: center;
  color: $primary-color;

  h1 {
    margin-bottom: 0;
  }
}

@mixin btn-icon {
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
  padding: 1.2em;
}